menu {
    float: right;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 100;
}

menu button:hover {
    z-index: 10;
}

menu button {
    display: block;
    position: absolute;
    width: 200px;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 8px;
    background: coral;
    color: white;
    border-style: outset;
    border-width: 4px;
    border-color: darkturquoise;
    text-shadow: 0 0 2px grey;
}
